:root{
  --black-color: #000000;
  --white-color: #FFFFFF;
  --grey-color: #7e7e7e;


}

$black-color:#000000;
$white-color:#FFFFFF;
$grey-color:#7e7e7e;

$blue-color-background: blue;
$gray-color-background: gray;
$red-color-background: red;