/app/css/**

/dist
/app/css
/gzipped
/tmp
/out-tsc
/storybook-static
/docs
/tests/kendo-themes/tests/visual/styles
/cypress

/node_modules

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.favorites.json
.DS_Store
Thumbs.db

lintreport.json
report.*.json
/.vs
report.*.json


/apps/portal-web/src/assets/env/local/*
/apps/thirdparty-web/src/assets/env/local/*
*.log


version.ts
/.scannerwork/

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
