@charset "UTF-8";
:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
  --grey-color: #7e7e7e;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Extra small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/
/*Small devices (landscape phones, 576px and up)*/
/*Medium devices (tablets, 768px and up)*/
/*Large devices (desktops, 992px and up)*/
/*Extra large devices (large desktops, 1200px and up)*/
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

#main_logo {
  color: var(--grey-color);
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  background: var(--black-color);
  padding-top: 10px;
  padding-bottom: 10px;
}
#main_logo #hd {
  color: var(--black-color);
  border: 7px solid var(--grey-color);
  border-radius: 50%;
  text-align: center;
  background: var(--grey-color);
  overflow: hidden;
}

#horizontal_navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#horizontal_navigation #h_list {
  justify-self: start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 50%;
  margin-left: 20px;
}
#horizontal_navigation li {
  display: inline;
}
#horizontal_navigation li:nth-child(-n+4) {
  font-weight: bold;
}
#horizontal_navigation #search {
  margin: auto;
}
#horizontal_navigation #search img {
  width: 25px;
  height: 25px;
}
#horizontal_navigation #search input {
  width: 200px;
  height: 25px;
  border: none;
}

#blockbaster {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-weight: bolder;
  padding-top: 30px;
  padding-bottom: 20px;
  height: 200px;
  background-color: rgba(78, 78, 78, 0.35);
  text-align: center;
}
#blockbaster div {
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
}
#blockbaster div:nth-child(1) {
  background-image: url("/app/img/dc.jpg");
}
#blockbaster div:nth-child(2) {
  background-image: url("/app/img/marvel1.jpeg");
}
#blockbaster span {
  display: inline-block;
  padding-top: 75px;
}
#blockbaster a {
  color: var(--white-color);
}

#films {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 30px;
}
#films #catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 70%;
}
#films #catalog .element {
  width: 30%;
  text-align: center;
}
#films #catalog .element img {
  width: 80%;
  height: auto;
}
#films #catalog .element .category {
  background: aqua;
  color: var(--white-color);
  padding: 5px;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
#films #catalog .element .film_name {
  font-weight: bolder;
  display: block;
}
#films #catalog .element .film_name a {
  color: rgba(39, 38, 154, 0.79);
}
#films #catalog .element .description {
  display: block;
  color: var(--grey-color);
}
#films #vertical_navigation {
  width: 30%;
  margin-right: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
#films #vertical_navigation li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--grey-color);
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}
#films #vertical_navigation li #head_v_list {
  background: #7e7e7e;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: var(--white-color);
}
#films #vertical_navigation li #head_v_list #date {
  font-weight: bolder;
}
#films #vertical_navigation li #head_v_list #close {
  text-decoration: underline;
}
#films #vertical_navigation li #head_v_list #close:hover {
  cursor: pointer;
}
#films #vertical_navigation li div .serial_name {
  font-weight: bolder;
}
#films #vertical_navigation li div .series {
  display: block;
}
#films #vertical_navigation li div .translation {
  display: block;
  color: var(--grey-color);
}

/*
@mixin colorizing($value){
if($value=="Фильм"){
  background: aqua;
}@else if($value=="Аниме"){
  background: red;
}@else {
  background: gray;
}
}*/