:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
  --grey-color: #7e7e7e;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Extra small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/
/*Small devices (landscape phones, 576px and up)*/
/*Medium devices (tablets, 768px and up)*/
/*Large devices (desktops, 992px and up)*/
/*Extra large devices (large desktops, 1200px and up)*/
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

#anlife_top_logo {
  color: #7e7e7e;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  background: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
}
#anlife_top_logo #anlife_top_logo_hdrezka {
  color: #000000;
  border: 7px solid #7e7e7e;
  border-radius: 50%;
  text-align: center;
  background: #7e7e7e;
  overflow: hidden;
}

#anlife_horizontal_navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#anlife_horizontal_navigation #anlife_horizontal_navigation_h_list {
  justify-self: start;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 50%;
  margin-left: 80px;
}
#anlife_horizontal_navigation li {
  display: inline;
}
#anlife_horizontal_navigation li:nth-child(-n+4) {
  font-weight: bold;
}
#anlife_horizontal_navigation li:nth-child(-n+7) {
  margin: 0 10px;
}
#anlife_horizontal_navigation #search {
  width: 200px;
  height: 25px;
  border: none;
}

#anlife_films {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-weight: bolder;
  padding-top: 30px;
  padding-bottom: 20px;
  height: 200px;
  background-color: rgba(78, 78, 78, 0.35);
  text-align: center;
}
#anlife_films div {
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
}
#anlife_films div:nth-child(1) {
  background-image: url(../img/dc.jpg);
}
#anlife_films div:nth-child(2) {
  background-image: url(../img/marvel1.jpeg);
}
#anlife_films span {
  display: inline-block;
  padding-top: 75px;
}
#anlife_films a {
  color: #FFFFFF;
}

#anlife_footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 30px;
}
#anlife_footer #anlife_footer_catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 70%;
}
#anlife_footer #anlife_footer_catalog .element:nth-child(1) {
  width: 30%;
  text-align: center;
}
#anlife_footer #anlife_footer_catalog .element:nth-child(1) div {
  background-image: url(../img/Battle.jpg);
}
#anlife_footer #anlife_footer_catalog .element:nth-child(1) div .category {
  background: blue;
  color: #FFFFFF;
}
#anlife_footer #anlife_footer_catalog .element:nth-child(2) {
  width: 30%;
  text-align: center;
}
#anlife_footer #anlife_footer_catalog .element:nth-child(2) div {
  background-image: url(../img/Dura.jpg);
}
#anlife_footer #anlife_footer_catalog .element:nth-child(2) div .category {
  background: gray;
  color: #FFFFFF;
}
#anlife_footer #anlife_footer_catalog .element:nth-child(3) {
  width: 30%;
  text-align: center;
}
#anlife_footer #anlife_footer_catalog .element:nth-child(3) div {
  background-image: url(../img/Stuck.jpeg);
}
#anlife_footer #anlife_footer_catalog .element:nth-child(3) div .category {
  background: red;
  color: #FFFFFF;
}
#anlife_footer #anlife_footer_catalog div {
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
}
#anlife_footer #anlife_footer_catalog .category {
  padding: 5px;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
#anlife_footer .film_name {
  font-weight: bolder;
  display: block;
}
#anlife_footer .description {
  display: block;
  color: #7e7e7e;
}
#anlife_footer #anlife_vertical_navigation {
  width: 30%;
  margin-right: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
#anlife_footer #anlife_vertical_navigation li:not(:first-child) {
  padding-left: 20px;
}
#anlife_footer #anlife_vertical_navigation li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #7e7e7e;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
#anlife_footer #anlife_vertical_navigation li #head_v_list {
  background: #7e7e7e;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: #FFFFFF;
}
#anlife_footer #anlife_vertical_navigation li #head_v_list #date {
  font-weight: bolder;
}
#anlife_footer #anlife_vertical_navigation li #head_v_list .translation {
  display: block;
  color: #7e7e7e;
}
