.anlife-comics .anlife-comics-dc, .anlife-comics .anlife-comics-marvel {
  position: relative;
  text-align: center;
  color: white;
}
.anlife-comics .anlife-comics-dc a:hover:after, .anlife-comics .anlife-comics-marvel a:hover:after {
  opacity: 1;
}
.anlife-comics .anlife-comics-dc img, .anlife-comics .anlife-comics-marvel img {
  width: 30vw;
}
.anlife-comics .anlife-comics-dc span, .anlife-comics .anlife-comics-marvel span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.anlife-comics .anlife-comics-dc span:hover, .anlife-comics .anlife-comics-marvel span:hover {
  background: rgba(0, 0, 0, 0);
}

.anlife-comics, .anlife-menu form, .anlife-menu ul, .anlife-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.anlife-header {
  background: black;
  height: 8vh;
}

.anlife-header-text {
  background: url("../img/hdrezka-logo.png") no-repeat 0 0;
  background-size: 100% 200%;
  display: block;
  height: 6vh;
  margin-left: -66px;
  padding: 0 17px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 98px;
}

.anlife-menu {
  justify-content: space-between;
  border: 2px solid black;
}
.anlife-menu ul {
  justify-content: space-around;
  padding: 0;
  width: 50vw;
  list-style: none;
}
.anlife-menu ul .anlife-menu-li-bold {
  font-weight: bold;
}
.anlife-menu form {
  border: 0;
  width: 14%;
  justify-content: space-around;
  height: 80%;
}
.anlife-menu form .anlife-search__submit {
  background: url("../img/icon/search.svg") no-repeat 0 0;
  border: white;
}
.anlife-menu form .anlife-search__field {
  width: 180px;
}

.anlife-comics {
  background: gray;
  width: 100%;
  height: 40vh;
  justify-content: space-around;
}
.anlife-basic {
  display: grid;
  grid-template: "main" 110vh "list"/55% 45%;
}
.anlife-basic .anlife-ul1 {
  list-style: none;
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.anlife-basic .anlife-ul1 li {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.anlife-basic .anlife-ul1 li .anlife-li {
  height: 41vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: gray solid 2px;
}
.anlife-basic .anlife-ul1 li .anlife-li div {
  height: 100%;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
}
.anlife-basic .anlife-ul2 {
  height: 100%;
  list-style: none;
  grid-area: list;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.anlife-basic .anlife-ul2 .anlife-li-first {
  background: #777777;
  color: white;
  height: 5%;
}
.anlife-basic .anlife-ul2 li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.anlife-basic .anlife-ul2 li hr {
  width: 100%;
}
.anlife-basic .anlife-ul2 li div {
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.anlife-basic .anlife-ul2 li div .anlife-span2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.anlife-film {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.anlife-film1 {
  background: url("../img/film/Battle.jpg") no-repeat center;
  background-size: 95%;
}
.anlife-film2 {
  background: url("../img/film/Dura.jpg") no-repeat center;
  background-size: 95%;
}
.anlife-film3 {
  background: url("../img/film/Chugan.jpg") no-repeat center;
  background-size: 95%;
}
.anlife-film4 {
  background: url("../img/film/Gabrielle.jpeg") no-repeat center;
  background-size: 95%;
}
.anlife-film5 {
  background: url("../img/film/Prosnis.jpg") no-repeat center;
  background-size: 95%;
}
.anlife-film6 {
  background: url("../img/film/Stuck.jpeg") no-repeat center;
  background-size: 95%;
}
.anlife-film7 {
  background: url("../img/film/evangilion.jpg") no-repeat center;
  background-size: 95%;
}
.anlife-film8 {
  background: url("../img/film/appleseed1.jpg") no-repeat center;
  background-size: 95%;
}
.anlife-film9 {
  background: url("../img/film/1.jpg") no-repeat center;
  background-size: 95%;
}
.anlife-film10 {
  background: url("../img/film/Hacksaw_Ridge.jpg") no-repeat center;
  background-size: 95%;
}
.anlife-film11 {
  background: url("../img/film/6867.jpg") no-repeat center;
  background-size: 95%;
}
.anlife-film12 {
  background: url("../img/film/12.jpg") no-repeat center;
  background-size: 95%;
}
.watch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 3vw;
  background: black;
  opacity: 65%;
}
.watch i {
  background: white;
  width: 56%;
  height: 60%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch i img {
  opacity: 65%;
}

.play {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.play span {
  width: 50%;
  display: flex;
  justify-content: center;
  background: gray;
}

.info {
  color: #000000;
  background: #e8fcf8;
  width: 80%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.title .first {
  color: cornflowerblue;
  font: 14px Arial;
  height: 5%;
}
.title .second {
  color: #777777;
  font: 10px Arial;
  height: 5%;
}
